<template>
    <b-table striped bordered hover :items="props.articles" :fields="fields">

      <template #cell(units)="row">
        <b-form-select class="mb-3" @change="changeArticleCount(row.item, $event)" default="0">
          <b-form-select-option value="0" >0</b-form-select-option>
          <b-form-select-option value="1">1</b-form-select-option>
          <b-form-select-option value="2">2</b-form-select-option>
          <b-form-select-option value="3">3</b-form-select-option>
          <b-form-select-option value="4">4</b-form-select-option>
          <b-form-select-option value="5">5</b-form-select-option>
          <b-form-select-option value="6">6</b-form-select-option>
        </b-form-select>
      </template>

    </b-table>
</template>

<script setup>

import { defineProps, defineEmits } from "vue";

const props = defineProps({
  articles: {
    type: Array
  }
})
const emit = defineEmits(["updateCart"])

const fields = [ "ref","titre","prix", "units"]

function changeArticleCount(item, count ){
  console.log("Ref   : " + item.ref)
  console.log("Count : " + count)
  emit( "updateCart", [item.ref, count])
}
</script>


<style lang="scss" ></style>