<template>
  <div>
    <ul >
      <li v-for="facture in factures" :key="facture.num">
        <a href="{{facture.url}}">{{facture.num}}</a>
      </li>
    </ul>
  </div>
</template>

<script setup>

import { defineProps, watchEffect } from "vue";

let factures = [
  {num: "123456698", "url": "/api/toto/tatat"},
  {num: "546456454", "url": "/api/toto/ttiiti"},
]

const props = defineProps({
  numClient: {
    type: String
  },
  refresh: {
    type: Number
  }
})

watchEffect(() => console.log(props.refresh))

//function refreshList(){
//  console.log("54545645645645645645645645646465464")
//  factures.push({num: "546456454", "url": "/api/toto/ttiiti"})
//  console.log(factures)
//
//}
</script>


<style lang="scss" ></style>