<template>
  <b-container>
    <b-row>
      <select v-model="selected">
        <option v-for="client in clients" :key="client.num" :value="client.num">
          {{ client.nom }} {{ client.prenom }}
        </option>
      </select>

      <div>Num. client : {{ selected }}</div>
    </b-row>
    <b-card no-body>
        <b-tabs card pills vertical>
          <b-tab title="Commander" active>
            <b-row>
              <ArticlesTable :articles="articles" @updateCart="updateCart"></ArticlesTable>
            </b-row>
            <b-row>
              Total : {{ total }}
            </b-row>
            <b-row>
              <b-button @click="goCommande">Commander</b-button>
            </b-row>
          </b-tab>
          <b-tab title="Factures" @click="refreshFacture">
            <FacturesList :numClient="selected" :refresh="refresh"></FacturesList>
          </b-tab>
        </b-tabs>
      </b-card>
  </b-container>
</template>

<script setup >

import { ref } from 'vue';
import axios from "axios";
import ArticlesTable from "./components/ArticlesTable.vue";
import FacturesList from "./components/FacturesList.vue";

const refresh = ref(0)
const selected = ref('456')

const clients= [
        { num: "123", nom: 'Dupond', prenom: 'Luc' },
        { num: "456", nom: 'Cardin', prenom: 'Pierre' },
        { num: "789", nom: 'Leclerc', prenom: 'Edward' }
      ]
const articles= [
        { ref: "147", titre: 'Chaussure', prix: 12, count: 0 },
        { ref: "258", titre: 'Short', prix: 35, count: 0 },
        { ref: "369", titre: 'Montre', prix: 56, count: 0 },
      ]


const total = ref(0)
let cart = null

function updateCart(param){
  let objIndex

  console.log(param[0] + " => " + param[1])

  if(cart == null){
    cart = articles
  }
  objIndex = cart.findIndex((obj => obj.ref == param[0]));
  console.log("Index : "+objIndex)
  cart[objIndex].count = param[1]
  //cart[param[0]].count = param[1]
  calculCart()
}

function calculCart(){
  total.value = 0
  cart.forEach(element => {
    total.value = total.value + element.prix * element.count
  });
  console.log("total = " + total.value)
}

function goCommande(){
  axios.post("/api/factures/", {})
  console.log("...............")
}

function refreshFacture(){
  console.log("++++++")
  refresh.value++
}

//let isLoading= false
//let isReSearch= false
//let totalRecordCount= 2
//let sortable= {
//        order: "id",
//        sort: "asc",
//      }
//let messages= {
//        pagingInfo: "Showing {0}-{1} of {2}",
//        pageSizeChangeLabel: "Row count:",
//        gotoPageLabel: "Go to page:",
//        noDataAvailable: "No data",
//      }
//let columns= [
//        {
//          label: "Ref",
//          field: "ref",
//          width: "3%",
//          sortable: true,
//          isKey: true,
//        },
//        {
//          label: "Titre",
//          field: "titre",
//          width: "10%",
//          sortable: true
//        },
//        {
//          label: "Prix",
//          field: "prix",
//          width: "15%",
//          sortable: true,
//        },
//        {
//          label: "",
//          field: "quick",
//          width: "10%",
//          display: function (row) {
//            return (
//              '<button type="button" data-id="' + row.ref + '" class="quick-btn">Button</button>'
//            );
//          }
//        }
//      ]

</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
